
<div id="' + epochTime + '">
	
	<div class="row">
		
		<div class ="col">
			
			<div class="card">
				
				<div class="item item-text-wrap">
					
					<div class="card-header">
						<p>' + value.word + '</p>
						
						<time class="relative-time" datetime ="' + now + '"></time>
					
					</div>
					<p class="helo">' + value.means + '</p>
				
				</div>
			
			</div>
		
		</div>
	
	</div>




<div id="' + epochTime + '">

			<div class="card">
				<div class="item item-text-wrap">
					<div class="card-header"><p>' + value.word + '</p>
						<time class="relative-time" datetime ="' + now + '"></time>
					</div>
					<p class="helo">' + value.means + '</p>

		</div>
	</div>

